.Card-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: var(--l);
    padding: var(--l);
    width: 40%;
    height: auto;
    outline: 1px solid black;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;

}
/* ------------------------------------------ CSS for FriendCard ------------------------------------------------------- */

.Card-Usercontainer {
    display: block;
    margin: var(--l);
    padding: var(--l);
    width: 240px;
    height: 160px;
    outline: 1px solid black;
    border-radius: 40px;
    background-color:aliceblue;

}
.Card-FriendButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    outline: 1px solid blue;
    border-radius: 24px;
    background-color:aquamarine;
}

/* ------------------------------------------ CSS for Single Recipe ------------------------------------------------------- */

.Card-CreatorContainer {
    display: flex;
}

.Card-pfp{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.Card-user{
    display: flex;
    padding: var(--s) var(--m) ;

}


/* ------------------------------------------ CSS for Recipe Popup ------------------------------------------------------- */
.Card-RecipePopup {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    font-size: 64px;
    
}
.Card-recipeImage {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.Card-RecipeBlock {
    margin-left: auto;
    margin-right: auto;
}
.Card-RecipeLabels {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}
.Card-commentsblock {
    padding: 24px;
    display: block;
}
.Popup-creator-container {
    padding: 32px;
    
}



.Feed-popup{
    display: flex;
    justify-content: center;
}