.NewPostInputContainer {
    flex-direction: column;
    align-items: stretch;
}

.NewPostInput {
    display: flex;
    flex-grow: 1;

}

.NewPostInput-Checkbox{
    display: flex;
    justify-content: flex-start;
}

.NewPostInput-checkboxText{
    padding: 8px;

}

.input-text{
    padding: 8px;
}